0 0 * * * curl https://www.zgllsj.com/index.php/systemlogined/DataTables/timetask -k >> /var/log/cron.log
0 0 * * * curl https://www.zgllsj.com/index.php/systemlogined/DataTables/syncseed -k >> /var/log/cron.log

